nav{
    width: 100%;
    /* background: #333; */
    color: #fff;
    padding: 4px 0;
    position: fixed;
    top: 0;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}
.logo{
    width: 180px;
    margin-left: 70px;
    

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
}
.dark-nav{
    background: #212EAD;
transition: 0.5s;
}
.menu-icon{
    display: none;
    }


/* media query */
@media (max-width: 1000px){
.logo{
    width: 140px;
}
nav ul li{
    margin: 10px 15px;
}
}
@media (max-width: 840px){
    nav{
        padding: 15px 0;
    }
    nav ul{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background: #212EA0;
        z-index: -1;
        width: 200px;
        margin-top: 70px;
        transition: 0.5s;
        transform: translateX(100%);

}

nav ul.show{
    transform: translateX(0);
    z-index: 10;

}
nav ul li{
    display: block;
    margin: 25px 40px;
}
.menu-icon{
    display: block;
    width: 30px;
    cursor: pointer;
}
/* Media query for screens with max width of 360px */
@media (max-width: 480px) {
    nav {
        padding: 8px 0;
    }

    .logo {
        width: 100px;
    }

    nav ul {
        margin-top: 40px;
    }

    nav ul li {
        font-size: 12px;
        margin: 10px 0;
    }

    .menu-icon {
        width: 20px;
    }
}

}


